<div *ngIf="!isRemoved" class="cart-product my-5 p-4">
    <div class="left-items">
        <div class="image">
            <img [src]="item.item_image" class="image-img" alt="">
        </div>
        <div class="product-brand">
            {{item.item_brand | uppercase}}
        </div>
        <div class="product-title mobileShow">
            {{item.item_title}}
        </div>
        <div class="product-desc mobileShow">
            {{item.item_description}}
        </div>
        <div class="product-price">
            Rs. {{item.item_price}}
        </div>
    </div>
    <div class="right-items">
        <div class="calculations my-5">
            <div class="minus mx-3" (click)="decrease()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="plus-minus" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                  </svg>
            </div>
            <div class="qty mx-3">{{qty}}</div>
            <div class="plus mx-3" (click)="increase()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="plus-minus" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
              </svg>
            </div>
        </div>
        <div class="total-price-of-item">
            Total : <span class="total-bold">Rs. {{total}}/-</span>
        </div>
    </div>
    <div (click)="removeProduct()" class="remove-product">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="remove" viewBox="0 0 16 16">
            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
        </svg>
    </div>
</div>