<div class="top-bar bg-dark p-2 px-4">
    <div routerLink="/home" class="brand-name h2 text-white p-0">अंदाज़</div>
    <div class="top-bar-icons">
        <div routerLink="/orders" class="top-bar-icon px-4">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="top-bar-icon-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zm-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
            </svg>
        </div>
        <div (click)="cart()" class="top-bar-icon px-4">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="top-bar-icon-fill" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
        </div>
        <div *ngIf="loggedIn" (click)="login()" class="top-bar-icon px-4">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="top-bar-icon-fill" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            </svg>
        </div>
        <div class="top-bar-icon px-4 profile-data">
            <a routerLink="/profile">
                <img class="image-thumb" [src]="user.photo">
            </a>
            <div class="mobileHide top-bar-user-name text-white px-3">{{user.name | uppercase}}</div>
        </div>

        <div class="top-bar-icon px-4" (click)="logout()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="top-bar-icon-fill" viewBox="0 0 16 16">
                <path d="M12 1a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2a1 1 0 0 1 1-1h8zm-2 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
            </svg>
        </div>
    </div>
</div>