<div class=" carousel-container" [ngStyle]="{'background-image': 'url('+carouselImages[counter]+')'}">
    <div class="left-arrow" (click)="decrement()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="navigation-keys" viewBox="0 0 16 16">
            <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
          </svg>
    </div>
    <div class="right-arrow" (click)="increment()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="navigation-keys" viewBox="0 0 16 16">
            <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
          </svg>
    </div>
    <div class="buttons py-4">
        <div class="button mx-3">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="circle-button" viewBox="0 0 16 16">
                <circle cx="8" cy="8" r="8"/>
              </svg>
        </div>
        <div class="button mx-3">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="circle-button" viewBox="0 0 16 16">
                <circle cx="8" cy="8" r="8"/>
              </svg>
        </div>
        <div class="button mx-3">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="circle-button" viewBox="0 0 16 16">
                <circle cx="8" cy="8" r="8"/>
              </svg>
        </div>
        <div class="button mx-3">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="circle-button" viewBox="0 0 16 16">
                <circle cx="8" cy="8" r="8"/>
              </svg>
        </div>
        <div class="button mx-3">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="circle-button" viewBox="0 0 16 16">
                <circle cx="8" cy="8" r="8"/>
              </svg>
        </div>

    </div>
</div>
