<app-nav></app-nav>
<app-carousel></app-carousel>
<div class="heading text-center container mb-5">
    <div class="display-5 my-5">Welcome to अंदाज़</div>
    <div class="h4 sub-heading">
        <p class="my-3 display-6">“We provide one-stop solution to all your fashion needs. Do get your favorite items at the best prices.”</p>
    </div>
</div>
<div class="text-light display-inline explore h2">
    <p (click)="explore()" class="explore-text">Explore Now</p>
</div>
<app-categories></app-categories>
<app-footer></app-footer>